body {
  font-family: "sans";
  background-color: white;
  color: #222222;
  font-size: larger;
  width: 60%;
  margin-left: 20%;
  
}

a {
  color: #4183C4;
}

h1, h2, h3 {
  color: black;
}

img {
  background-color: black;
  padding: 1px;
  border: 1px solid purple;
}
